.timesheet {
    width: 100%;
    height: 292px;
    margin: 0 auto;
}

.timesheet {
    border-top: 1px solid rgba(50, 50, 50, 0.5);
    background-color: #ffffff;
    position: relative;
}
.timesheet.color-scheme-default .bubble-academic {
    background-color: #436ae0;
    /* if you want to print without requesting the browser to fill
   background colors (which are used for the timesheet bars), you can
   use a border to draw something at least: */

    /*border-color: #436ae0;
    border-style: solid;*/
}
.timesheet.color-scheme-default .bubble-industry {
    background-color: #ff222e;
    /*border-color: #ff222e;
    border-style: solid;*/
}
.timesheet.color-scheme-default .bubble-fellowship {
    background-color: #7700ff;
    /*border-color: #7700ff;
    border-style: solid;*/
}
.timesheet.color-scheme-alternative .bubble-academic {
    background-color: #436ae0;
    /*border-color: #436ae0;
    border-style: solid;*/
}
.timesheet.color-scheme-alternative .bubble-industry {
    background-color: #ff222e;
    /*border-color: #ff222e;
    border-style: solid;*/
}
.timesheet.color-scheme-alternative .bubble-fellowship {
    background-color: #7700ff;
    /*border-color: #7700ff;
    border-style: solid;*/
}

.timesheet .scale {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.timesheet .scale section {
    float: left;
    width: 59px;
    text-align: center;
    color: rgba(50, 50, 50, 0.8);
    font-family: "IBM Plex Sans";
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    border-left: 1px dashed rgba(50, 50, 50, 0.2);
    height: 100%;
}
.timesheet .data {
    margin: 28px 0 0 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.8);
    font-family: "IBM Plex Sans";
    font-size: 13px;
}
.timesheet .data li {
    margin: 0 0 3px 0;
    line-height: 22px;
    height: 21px;
    display: block;
    clear: both;
    position: relative;
    white-space: nowrap;
}
.timesheet .data li:hover .bubble {
    opacity: 1;
}
.timesheet .data li .date {
    color: #000;
    font-size: 14px;
}
.timesheet .data li .label {
    font-size: 14px;
    padding-left: 5px;
    line-height: 21px;
    color: #000;
    white-space: nowrap;
}
.timesheet .data li .bubble {
    width: 24px;
    height: 7px;
    display: block;
    float: left;
    position: relative;
    top: 7px;
    border-radius: 4px;
    margin: 0 10px 0 0;
    opacity: 0.7;
}
#timesheet-alternative {
    background-color: RGBA(247, 247, 247, 1);
    border-radius: 5px;
}
#timesheet-alternative section {
    color: RGBA(63, 68, 72, 1);
    border-left: 1px dashed RGBA(63, 68, 72, 0.2);
}
#timesheet-alternative section:first-child {
    border-left: 1px dashed transparent;
}
#timesheet-alternative .date {
    display: none;
}
#timesheet-alternative .bubble {
    margin-right: 7px;
}
#timesheet-alternative .label {
    padding-left: 0px;
    color: RGBA(48, 48, 48, 1);
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../fonts/IBMPlexSans-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
