@font-face {
    font-family: 'Sweden Sans';
    src: url('../fonts/swedensans-webfont.eot');
    src: url('../fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swedensans-webfont.woff') format('woff'),
         url('../fonts/swedensans-webfont.ttf') format('truetype'),
         url('../fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.asciiart {
  letter-spacing:-0.07rem;
  line-height:1;
/* Monospace is not so common; therefore, default to Courier New: */
/*    font-family:'Monospace Regular', monospace;*/
  font-family:'Courier New', 'Monospace Regular';
  text-align:left;
  margin:0;
  padding:5px;
}

/* Small display */
@media (max-width: 1200px) {
  .asciiart {
    font-size:0.5em;
  }

  div.book {
      margin-left:0.5%;
      margin-right:0.5%;
  }

  /* pair elements are top and bottom */
  .pair {
      display:block;
  }
  .first {
      width:97vw;
      height:50vh;
      display:block;
  }
  .second {
      width:97vw;
      height:40vh;
      display:block;
  }
  .code-editor > pre {
      font-size:17px;
      min-height:50vh;
  }
  .output {
      min-height:40vh;
  }
}

/* Large display */
@media (min-width: 1201px) {
  .asciiart {
    font-size:0.7em;
  }

  div.book {
      margin-left:5%;
      margin-right:5%;
  }

  /* pair elements are side by side */
  .pair {
      display:flex;
  }
  .first {
      width:45vw;
      height:75vh;
      float:left;
  }
  .second {
      width:45vw;
      height:65vh;
      float:right;
  }

  .code-editor > pre {
      font-size:16px;
      min-height:75vh;
  }
  .output {
      min-height:65vh;
  }
}

div.page {
  margin-top:2rem;
  /*  min-height:95vh; */
  margin-bottom:10vh;
}

.terminal {
    margin-bottom:15vh;
}

.button-and-output {
    margin-left:0.5%;
    margin-top:0.5%;
}

.output {
    width:100%;
    height:100%;
    resize:none;
    border:none;
    background-color:transparent;
    color:black;
}

.messages {
    width:100%;
    resize:none;
    border:none;
    background-color:transparent;
}

.button {
/*    color:white; */
    padding: 15px 32px;
    margin-top:4px;
/*    border: none; */
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

.button-and-output > .button:nth-of-type(1) {
    background-color:rgb(46, 204, 113);
}

.button-and-output > .button:nth-of-type(1):hover {
    background-color:rgb(50, 220, 120);
}

.button-and-output > .button:nth-of-type(2) {
    display:none;
    background-color:rgb(192, 57, 43);
}

.button-and-output > .button:nth-of-type(2):hover {
    display:none;
    background-color:rgb(231, 76, 60);
}

.button-and-output > .button:nth-of-type(3) {
    float:right;
}

img.illustration {
    width:90%;
}

td img {
    width:20%;
}

li img {
    width:4%;
}

table {
    text-align:left;
    width:100%;
}

th {
    font-size:32pt;
}

td {
    font-size:24pt;
    padding:2.5%;
}
