<nav class="container primary">
  <div class="sixteen columns">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list" style="text-align:left;">
	<li class="pure-menu-item pure-menu-selected"><a href="index.html" class="pure-menu-link">
	    <div class="two-fade">
	      <span>NEWS</span>
	      <span style="display:none;">CHRONICLE, VOL. 1</span>
	    </div>
	</a></li>
	<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
	  <a href="#" id="menuLink1" class="pure-menu-link">DISCOVER</a>
	  <ul class="pure-menu-children">
	    <li class="pure-menu-item"><a href="about.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>LAB ENVIRONMENT</span>
		  <span style="display:none;">PERSON PITCH</span>
		</div>
	    </a></li>
            <li class="pure-menu-item"><a href="missoula.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>MISSOULA</span>
		  <!-- <span style="display:none;">AMERICAN BEAUTY</span> -->
		  <span style="display:none;">IN THE MOUNTAIN IN THE CLOUD</span>
		</div>
	    </a></li>
	    <li class="pure-menu-item"><a href="projects.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>RESEARCH</span>
		  <span style="display:none;">SUBSTANCE</span>
		</div>
	    </a></li>
            <li class="pure-menu-item"><a href="the-alpinists.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>WHO WE ARE</span>
		  <span style="display:none;">THE BAND</span>
		</div>
	    </a></li>
            <li class="pure-menu-item"><a href="open-positions.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>OPEN POSITIONS</span>
		  <span style="display:none;">ELECTRIC WARRIOR</span>
		</div>
	    </a></li>	    
	  </ul>
	</li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
	  <a href="#" id="menuLink2" class="pure-menu-link">LEARN</a>
	  <ul class="pure-menu-children">
            <li class="pure-menu-item"><a href="raison-detre.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>RAISON D'ÊTRE</span>
		  <span style="display:none;">BORN TO RUN</span>
		</div>
	    </a></li>
            <li class="pure-menu-item"><a href="lectures.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>LECTURES</span>
		  <span style="display:none;">LATE REGISTRATION</span>
		</div>
	    </a></li>
            <li class="pure-menu-item"><a href="jedi-trials.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>JEDI TRIALS</span>
		  <span style="display:none;">BEAT THE CHAMP</span>
		</div>
	    </a></li>
            <li class="pure-menu-item"><a href="do-it-better.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>DO IT BETTER</span>
		  <span style="display:none;">DOOLITTLE</span>
		</div>
	    </a></li>
            <li class="pure-menu-item"><a href="deep-dives.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>INSPIRATION</span>
		  <span style="display:none;">REFLEKTOR</span>
		</div>
	    </a></li>
	  </ul>
	</li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
	  <a href="#" id="menuLink3" class="pure-menu-link">CREATE</a>
	  <ul class="pure-menu-children">
            <li class="pure-menu-item"><a href="software.html" class="pure-menu-link">
		<div class="two-fade">
		  <span>SOFTWARE</span>
		  <!-- <span style="display:none;">RUN THE JEWELS 2</span> -->
		  <span style="display:none;">HARVEST</span>
		</div>
	    </a></li>
	  </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
