    <section class="header" style="margin-bottom:0;">
      <div style="margin:0; padding:0;">
<b><pre class="asciiart">

                      /\
                     /  \                  /\
                    /    \     /\         /  \
           /\      /\/\/\/\   /  \       /\/\/\
          /  \    /        \ /\/\/\    _/      \
        _/\/\/\  /      /\  /      \  /         \
      _/       \/      /  \/        \/           \
     /          \__   /   /          \_           \
    /              \_/_  /             \           \
   /                   \/               \           \


       █████╗ ██╗     ██████╗ ██╗███╗   ██╗███████╗  
      ██╔══██╗██║     ██╔══██╗██║████╗  ██║██╔════╝  
      ███████║██║     ██████╔╝██║██╔██╗ ██║█████╗    
      ██╔══██║██║     ██╔═══╝ ██║██║╚██╗██║██╔══╝    
      ██║  ██║███████╗██║     ██║██║ ╚████║███████╗  
      ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚══════╝  
                                                  
       █████╗ ██╗      ██████╗  ██████╗ ██████╗ ██╗  
      ██╔══██╗██║     ██╔════╝ ██╔═══██╗██╔══██╗██║  
      ███████║██║     ██║  ███╗██║   ██║██████╔╝██║  
      ██╔══██║██║     ██║   ██║██║   ██║██╔══██╗██║  
      ██║  ██║███████╗╚██████╔╝╚██████╔╝██║  ██║██║  
      ╚═╝  ╚═╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  
                                                   
    ████████╗██╗  ██╗███╗   ███╗██╗ ██████╗███████╗
    ╚══██╔══╝██║  ██║████╗ ████║██║██╔════╝██╔════╝
       ██║   ███████║██╔████╔██║██║██║     ███████╗
       ██║   ██╔══██║██║╚██╔╝██║██║██║     ╚════██║
       ██║   ██║  ██║██║ ╚═╝ ██║██║╚██████╗███████║
       ╚═╝   ╚═╝  ╚═╝╚═╝     ╚═╝╚═╝ ╚═════╝╚══════╝
                                                                                                       
</pre></b>
<div style="text-align:left; width:auto; margin:0;">
  <p style="line-height:1;"><b>&nbsp;&nbsp;AT THE UNIVERSITY OF MONTANA</b><br />
    &nbsp;&nbsp;ALGORITHMS &gt; NUMERICS &gt; BAYESIAN &gt; COMP BIO
  </p>
</div>
      </div>
      
    </section>
